.carousel { 
    display: flex; 
    overflow: hidden; 
    width: 100%;  
} 

.slide { 
    display: flex; 
    min-width: 100%; 
    transition: transform 0.5s ease-in-out;
} 

.carousel_panel { 
    justify-content: center;
    flex: 1; 
    min-width: 50%;
    box-sizing: border-box; 
    padding: 10px; 
    background-color: black;
    color: white;
} 

.carousel_button { 
    margin-top: 10px; }

.carousel_img{
    background-color: black;
    width: 25%;
}

.carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.active {
    transform: translateX(0);
}

.inactive-left {
    transform: translateX(-100%);
}

.inactive-right {
    transform: translateX(100%);
}
