/**
Classes 
**/

.content{
    margin-top: 5%;
    padding: 2%;
    display: flex;
    height: auto;
    color: black;
    font-family: "Shippori Mincho", Arial, Helvetica, sans-serif;
    
}

.content a{
    color: black;
    text-decoration: underline;
}

.left{
    width : 50%;
    justify-self: flex-start;
}

.right{
    width : 30%;
    justify-self: flex-end;
}

/**
IDs
**/

#mainphoto {
    border-radius: 15%;
    display: block;
    width: 30%;
}