p{
    padding: 10%;
}

/**
Classes 
**/

.content{
    margin-top: 5%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    color: black;
    font-family: "Shippori Mincho", Arial, Helvetica, sans-serif;
    
}

.content a{
    color: black;
    text-decoration: underline;
}

.left{
    width : 50%;
}

.right{
    width : 50%
    
}

.text{
    display: flex;
    flex-direction: column;
}

.img-container{
    display: flex;
    justify-content: center;
}

.button{
    width : fit-content(inherit);
}
/**
IDs
**/

#mainphoto {
    border-radius: 15%;
    display: block;
    width: 50%;
}